// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img#logo {
    width: 100px;
    height: auto;
}

img#logo-big {
    width: 250px;
    height: auto;
}